{
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4,
                "printWidth": 1000
            }
        },
        {
            "files": ["*.js"],
            "options": {
                "parser": "babel",
                "tabWidth": 4,
                "printWidth": 1000
            }
        }
    ]
}
